{% extends 'base.html' %}

{% block 'main' %}
{% load static %}

<div class="container">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
        </ol>
    </nav>
    <h3>BlossomBay - Terms and Conditions:</h3>
    <h6>1. Who is Blossombay.com?</h6>
    <p>BlossomBay.com is website from BlossomBay PRIVATE LIMITED which is registered with government of Maharashtra.
        This page contains all terms and conditions that stand
        for all orders placed on this site.</p>
    <h6>2. Delivery Timings:</h6>
    <p>For all same day orders, orders have to be made before 5 pm on the same day. All orders made after this shall be
        considered for delivery latest by the next day.
        We do not guarantee any timed delivery, our regular delivery timings are between 9:00 am to 9:00 pm. Clients can
        request specific timings in the Special Instructions
        section of payment form, we will try our best to honour the client's request but cannot commit 100% efficiency
        in the timing of delivery.
        Delivery timings if promised cannot be guaranteed in case of special circumstances like extreme weather
        conditions, riots, strikes, elections, bandhs, during rush hour days
        like Valentine's Day, Mothers Day, Rakhi, New year Eve etc, the order cancelation would not be possible in such
        circumstances

        For Valentine Midnight delivery, delivery will be done between 10 PM to 01 AM</p>

    <h6>3. Discounts:</h6>
    <p>All the discounts are decided by FlowerAura team and none of the Discount and offers can be clubbed together.</p>
    <h6>4. Address Change:</h6>
    <p>Any changes to the recipient address would be entertained free of cost if they are requested before 48hrs of the
        actual delivery. Changes after that will not be entertained and order would not be canceled.
        Change of address would not be possible for products from the gift section after dispatch.</p>
    <h6>5. Order Change:</h6>
    <p>Any changes to the order would be entertained with monetary adjustments if requested before 48hrs of the actual
        delivery. Changes after that will not be entertained and order would not be canceled. Cancellation charges of 5%
        are applicable on all cancellation requests</p>
    <h6>6. Delivery Product:</h6>
    <p>The flower arrangements cannot be guaranteed to be exact replicas of the ones shown on site because of different
        vendors & different season constraints. Although the quantity of product will be the same if there have to be
        substitutions because of non availability of products these substitutions will be of equal or higher quality.
        Change of color of flowers due to non availability shall also considered under this condition. Also, the icing
        and design of the cake may vary from the image depending upon local availability.</p>
    <h6>7. Service Complaints:</h6>
    <p>Any complaint of delivered products will be considered within 24 hrs of the delivery. Customers need to report
        the issue to customer support channels via Calls/whatsApp or Emails.</p>
</div>

{% endblock 'main' %}